NSJB_FRONTEND_PORT=5173
NSJB_API_PORT=8787
NSJB_ORCHESTRATOR_INTERVAL_MS=60000
NSJB_DB_DRIVER=postgres
NSJB_PGHOST=postgres
NSJB_PGPORT=5432
NSJB_PGDATABASE=nsjb_forms
NSJB_PGUSER=nsjb
NSJB_PGPASSWORD=nsjb
NSJB_PGSSLMODE=disable
